.container {
    width: 400px;
    height: 400px;
    border: 2px solid darkmagenta;
}

/* Percentages are always relative to some other value
Sometimes, it's a value from the parent and other time it's a value from the element itself. */
.sub-container {
    width: 50%; /* half the width of parent */
    height: 50%;
    border: 1px solid firebrick;
}

.rem p {
    line-height: 50%; /* half the font-size of the element itself */
}

/* default size of of root html element is 16px
if root font-size is 20px, 1 rem is always */

/* rem: root size(in px) * given size */
.rem h1 {
    font-size: 6rem; /* 6 * 16px */
}

.rem h2 {
    font-size: 4rem; /* 4 * 16px */
}
/* this can vary upon the user setting the broweser font size */

/* EM is relative to it's Parent element */

.em-container {
    font-size: 20px;
}

.em-container h1 {
    font-size: 4em;  /* 4 * parent(20px) = 80px */
    margin: 0;
    margin-left: 1.5em;  /* 4em(80px) * 1.5 = 120px */
}

p {
    font-size: 1.5em;
}

.small {
    font-size: 0.7em; /* 0.7 * it's parent's font size */
}

/* with other properties, 1 em is equal to the computed font-size of the element itself. */
